/Proyecto/proyectoMusica/target/
/Proyecto/ProyectoMusicaServidor/nbproject/private/
/Proyecto/ProyectoMusicaServidor/build/
/Proyecto/ProyectoMusicaServidor/dist/
/Proyecto/ServidorProyectoMusica/nbproject/private/
/Proyecto/ServidorProyectoMusica/build/