/Proyecto/proyectoMusica/target/
/Proyecto/ProyectoMusicaServidor/nbproject/private/
/Proyecto/ProyectoMusicaServidor/build/
/Proyecto/ProyectoMusicaServidor/dist/
/Proyecto/ServidorProyectoMusica/nbproject/private/
/Proyecto/ServidorProyectoMusica/build/
/Proyecto/proyectoMusicaServidor/nbproject/private/
/Proyecto/proyectoMusicaServidor/build/
/Proyecto/proyectoMusicaServidor/dist/
/Proyecto/ChatCorbaServidorEntrega/nbproject/private/
/Proyecto/ChatCorbaServidor/nbproject/private/
/Proyecto/ServidorChatCorba/nbproject/private/